/*
  Add an initial background-image to .backgroundTransition container. This image
  should match the first image passed into the plugin's 'background' array.
  Adding this here ensures that there is a background image loaded on page load,
  while waiting for document.ready().
 */
.backgroundTransition {
  background-image: url('/resources/imgs/background/background-01.jpg');
}

/*
  The following css is merely to style the white container in the middle of the page.
*/
.content {
    height:inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgba(0,0,0,.4);
    color:#fff;
}
.content .login {
	border: 1px solid white;
    width: 400px;
    height: 540px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.login_logo {
	padding-top: 20px;
    width: 100%;
    height: 250px;
    text-align:center;
}
.login_idpw {
    width: 100%;
    height: 250px;
}
.login_item {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.login_item input {
  	width: 70%;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    color: #000000;
    padding: 0 10px 0 45px;
    height: 35px;
    line-height: 35px;
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position-x: 10px;
    background-position-y: 5px;
}
#input_id {
	 background-image: url(/resources/imgs/icon/user-icon.png);
}
#input_pw {
	 background-image: url(/resources/imgs/icon/password-icon.png);
}
.login_btn {
	position: relative;
    clear: both;
    width: 100%;
    text-align: center;
    bottom: -10px;
}
.login_btn input {
	border-radius: 30px;
    width: 75%;
    height: 45px;
    font-size: 24px;
    font-weight:600;
    background-color: rgb(74,83,121);
    color: #fff;
    cursor: pointer;
}
.go_link {
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 3px;
    margin-right: 45px;
}
.go_link li {
	float: left;
}
.go_link li a {
    display: inline-block;
    font-size: 13px;
    color: #666666;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e6e6e6;
}

